<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <contextName>si-ent-api</contextName>
    <jmxConfigurator/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${CONTEXT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archives/${CONTEXT_NAME}.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>366</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="AUTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${CONTEXT_NAME}-auth.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archives/${CONTEXT_NAME}-auth.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>366</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger: %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="fr.recia" level="WARN"/>
    <logger name="org" level="WARN"/>

    <logger name="fr.recia.si.ent.api.config.security.AuthenticationService" level="INFO" additivity="false">
        <appender-ref ref="AUTH" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
